body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
 
}

.clickcontainer{
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
    position: fixed;
    right: 0;
    width: 50px;
   height: 30px;
   border: 3px solid burlywood;
   border-radius: 30px;
   cursor: pointer;
   transition: all 0.4s ease-in-out ;
   background-color: black;
}
.inbox{
    width: 30px;
    height: 29px;

    background-color: darkcyan;
    border-radius: 30px;

    transition: transform 0.4s ease-in-out ;
}
.boxmove{
    background-color:lightblue;
}
.moveRight{
    transform: translateX(20px);
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.menusticktag{

    z-index: 1;
    position: sticky;
    top: 0;
}
.allcontainer{
 
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out ;
}
.changecolor{
    color: white;
}
.line{
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 10px ;
    display:none;
}
.menufy{
    margin-left: 20px;
    font-size: 35px;
}
.ulcontainer{
  position: relative;
  margin-right: 40px;
}
ul{
    margin: 0;
    padding: 0;
 
    list-style: none;
    
    display: flex;
    justify-content: space-between;
  
}
li{
  
    padding:15px 30px;
}
.menucontainer{
    padding: 10px;
    cursor: pointer;
    user-select: none;
    color: lightcyan;
    background-color:#212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.slider{
    width: 100px;
    height: 4px;
    background-color: lightgoldenrodyellow;
    transition: transform 0.5s ease-in-out;
}
.serving{
    color: white;
}
.image{
    width: 100%;
    height: 600px;
   background-image: url("img/imm.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   background-clip: border-box;
   background-position: center;


}
.free{
    margin-top: 100px;
}
.imagetest{
    color:white;
    max-width: 60%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
 
 
}
h1{
    font-size: 60px;
}
p{
    color: #E4E5E6;
    font-size: 30px;
}

.sign{
    color: whitesmoke;
    font-weight: bold;
    padding: 25px;
    margin: 15px;
    border-radius: 30px;
    background-color:darkcyan;
    border: none;
}
.learnmore{
    margin: 150px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.textmnu {
    display: inline-block;
    font-size: 25px;
}
.resh{
    display: inline-block;
    font-size: 25px;
    color: lightseagreen;
}
.textexit{
    animation: toright 3s;
    margin-bottom: 50px;
}
.learn{

    font-weight: bold;
    border-radius: 5px;
    color: white;
    width: 200px;
    padding: 15px;
    background-color: #5B5B5B;
}
.textexit .getafree{
   display: inline-block;
}
.laptop{
    width: 400px;
    height: 300px;
    animation: toleft 5s;
}

.laptopandtext{
    margin: 0 auto;
   max-width: 80%;
   
   display: flex;
   justify-content: center; 
   align-items: center;
  
}
.orderweb{
    font-size: 30px;
}
.your{
    margin-top: 10px;
    font-size: 25px;
}
.getafree{
  
    margin-left: 30px;
    animation: toright 5s;
}
.itcontainer{
    margin-top: -50px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;



}
.buttonit{
    font-weight: bold;
    border-radius: 5px;
    color: white;
    width: 200px;
    padding: 15px;
    background-color: #5B5B5B;
}
.handphoto{
    width: 300px;
    height: 250px;
}
.handconainer{
    margin: 0 auto;
    max-width: 80%;
    display: flex;
   
    flex-direction: row;
}
.savecontain{

    max-width: 80%;
}
.textmenu{
    font-size: 25px;
    padding: 15px 0px;
    margin-bottom: 40px;
}
.handconta{
  

}

.callcenter{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin:0 auto;
 

}
.relycontainer{
    margin-left: 30px;
}
.class{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: 60px auto;
}
.star{

    display: flex;
    justify-content: space-between;
}
.footercontainer{
    color: white;
    width: 100%;
    height: 650px;
    background-color: #1F1F1F;
}

.footer{
 
    padding: 100px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;

}
.flexbox{
    font-size: 20px;
    padding: 7px 0px;
}
.foot2021{
    color: white;
    padding: 10px 0px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.underline{
    max-width: 80%;
    margin: 80px auto;
    border-bottom: 1px solid gray;
}
.fbicon{
    width: 30px;
    height: 30px;
    padding: 10px;
   
}
.iconcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}


.line2mew  {
    opacity: 0;
 
}
.line3mew{
    transform: rotate(-45deg) translate(5px,-10px);
}
.line1mew{
    transform: rotate(45deg) translate(11px,16px);
}
.line1 ,.line2 , .line3{
   transition: all 0.5s ease-in-out;
}
.ulinmenu{
    display: none;
}
.appeartoast{

    background-color: black;
    width: 100%;
    position:fixed;
    top: 0;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: top 0.4s ease-in-out;
}
.toastcontainer{
    z-index: 1;
    position: relative;
}
.toastText{
    font-size: 25px;


    width: 70%;
}
.buttontoast{
    margin-left: 10px;
    font-weight: bold;
    color: white;  
    padding: 10px;
    background-color:blue;
    border-radius: 10px;
}
.onlinetext{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    font-size: 55px;
}
.pricingcotainer{
    scroll-behavior: smooth;
    margin-top: 100px;
}
.percent{
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bigbottomcontainer{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageTextcontainer{
    max-width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.bigbotton{
    outline: none;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    background-color: dodgerblue;
    margin-top: 25px;
    padding: 30px;
    border-radius: 10px;
}
.buttonget{
    outline: none;
    width: 200px;
    background-color:#1F1F1F ;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    padding: 30px;
    color: white;
    border-radius: 10px;
}
p{
    color: darkslategray;
}
.ptext{

    margin-top: 35px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px auto;
}
.paidcoloum{
 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pAIDFREE{
    max-width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bold{
    font-weight: bold ;
 
    
}
.paidimg{

    margin-top: 50px;
    width: 300px;
   
    height: 300px;
}
.title{
    margin-top: 15px;
    font-size: 35px;
    color: #8AB82E;
}
.textpaid{
    margin-top: 5px;
    font-size: 30px;
}
.margintop{
    margin-top: 35px;
}
.overlay{
    display: none;
}
.fontlarge{
    font-size: 55px;
}
.foundin{
    font-size: 35px;
    margin-top: 30px;
}
.abouttext{
    max-width: 80%;
    margin: 0 auto;
}
.ultext{
    list-style-type: disc;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
}
.leader{
    font-size: 45px;
    margin-top: 40px;
}
.litext{

    font-size: 35px;
}
.top{
    margin-top: 30px;
}
.bottOm{
 
    margin-bottom: 15pxpx;
}
.bolder{
    font-weight: bolder;
}
.aboutcontainer{
    scroll-behavior: smooth;
}
.Blogcontainer{
    scroll-behavior: smooth;
}
.imgboxCOntainer{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}
.box{
    border-radius: 10px;
    width: 450px;

    margin: 20px;
    background-color:white;
    
}
.imgBox{
    border-radius: 10px;
    padding: 15px;
    
}
.imgblog{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    width: 100%;
    height: 350px;
}
.fontSiz{
    color: darkgray;
    font-size: 25px;
}
.maxwidth{
    max-width: 80%;
    margin: 0 auto;
}
.menufyBLog{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.colordark{
    color: darkgray;
}

@media (max-width:764px){
    .menucontainer{
        padding: 23px;
    }

    .line1mew{
        transform: rotate(45deg) translate(4px,8px);
    }
    .line3mew{
        transform: rotate(-45deg) translate(4px,-8px);
    }
  
    .line{
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px ;

        display: block;
        margin-right: 25px;
    }
    .buttontoast{
        color: inherit;
        border: none;
       
        font-weight: bold;
        color: white;  
        padding: 7px;
        font-size: 12px;
        background-color:blue;
        border-radius: 8px;
        margin: 0 auto;
    }
    .toastText{
        margin-top: 10px;
        font-size: 20px;
    
    
        width: 80%;
    }
    .clickcontainer{
        display: flex;
        margin-top: 15px;
        margin-right: 22px;
        position: fixed;
        right: 0;
        width: 20px;
       height: 50px;
       border: 3px solid burlywood;
       cursor: pointer;
       transition: all 0.4s ease-in-out ;
       background-color: black;
    }
    .inbox{
        width: 20px;
        height: 18px;
        margin-left: 0px;
        border: 1px solid rgb(178, 49, 32);
        background-color:darkcyan;
        border-radius: 10px;
        transition: transform 0.4s ease-in-out ;
    }
    .boxmove{
        background-color:lightblue;
    }
    .moveRight{
        transform: translateY(30px);
    }
    .textsmall {
        color: darkcyan;
        font-size: 15px;
    }
    .litext{
        font-size: 20px;
    }
    .getafree{
        margin-top: 20px;
    }
    .class{
        font-size: 18px;
    }

    .fbicon{
        width: 20px;
        height: 20px;
        padding: 8px;
       
    }
    .foot2021{
        font-size: 20px;
        padding: 10px 0px;
        margin-bottom: 50px;
    }
    .footercontainer{
        width: 100%;
        height: 600px;
        background-color: #1F1F1F;
    }
.flexbox{
        font: 17px;
        padding: 4px 0px;
    }
.image{
    width: 100%;
      height:700px

    }
    .abouttext{
        margin-top: 50px;
    }
    .ulcontainer{
        display: none;
    }
    .handphoto{
        margin-left: 30px;
    }
    .imageTextcontainer  {
        flex-wrap: wrap;
    }
    .buttongroup{
        margin-top: 20px;
    }
    .learn{
        margin-bottom: 45px;
    }

    .itcontainer ,.atop{
        margin-top: 30px;
    }
    .handconainer ,.laptopandtext , .handconainer{
        flex-wrap: wrap;
    }
    .handconta{
        width: 80%;
        margin: 30px auto;
        margin-right: 15px;

    }
    .savecontain , .callcenter{
        width: 80%;
        margin: 0 auto;
        margin-top: 25px;
    }
    .relycontainer{
        margin-top: 20px;
    }

  .overlay{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    position: absolute;
    display: none;
  }
  .ultaginli{
      transition: 0.5s;
      padding: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }

  .ultaginli:hover{
    color: black;
    background-color: rgb(23, 121, 182);
    border-radius: 15px;
}
  .ulTagnew{
      max-width: 70%;
      margin: 90px auto;
      user-select: none;
      cursor: pointer;


    font-size: 20px;
     color: white;
     display: block;
  }
.overlaynew{
    display: block;
    opacity: 1;
}

.litagnew{
    margin: 20px 0px;
}
.linew{
    transition: 0.6s;
    padding: 50px;
}

.ulinmenu{
    cursor: pointer;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 35px;

}
.liin{
    margin: 20px;
}
}
.liin:hover{
    background-color: cornflowerblue;
    border-radius: 20px;
}
.foundin{
    font-size: 25px;
    margin-top: 20px;
}
.ulTagnew{
    font-size: 25px;
  }
@media (max-width:700px){
    .ulTagnew{
      font-size: 20px;
    }

    .ultaginli:hover{
        color: black;
        background-color: rgb(23, 121, 182);
        border-radius: 15px;
    }
    .menucontainer{
        padding: 18px;
    }
    .line1mew{
        transform: rotate(45deg) translate(4px,8px);
    }
    .line3mew{
        transform: rotate(-45deg) translate(4px,-8px);
    }
  
    .line{
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px ;

        display: block;
        margin-right: 25px;
    }
    .buttontoast{
        color: inherit;
        border: none;
       
        font-weight: bold;
        color: white;  
        padding: 7px;
        font-size: 12px;
        background-color:blue;
        border-radius: 8px;
        margin: 0 auto;
    }
    .toastText{
        margin-top: 45px;
        font-size: 16px;
    
    
        width: 80%;
    }
    .clickcontainer{
        display: flex;
        margin-top: 15px;
        margin-right: 21px;
        position: fixed;
        right: 0;
        width: 20px;
       height: 40px;
       border: 3px solid burlywood;
       cursor: pointer;
       transition: all 0.4s ease-in-out ;
       background-color: black;
    }
    .inbox{
        width: 20px;
        height: 18px;
        margin-left: 0px;
        border: 1px solid rgb(178, 49, 32);
        background-color:darkcyan;
        border-radius: 10px;
        transition: transform 0.4s ease-in-out ;
    }
    .boxmove{
        background-color:lightblue;
    }
    .moveRight{
        transform: translateY(20px);
    }

    .leader{
        font-size: 30px;
        margin-top: 25px;
    }
    .textsmall {
       color: darkcyan;
        font-size: 15px;
    }
    .litext{
        font-size: 22px;
    }
    .foundin{
        font-size: 25px;
        margin-top: 20px;
    }
    .getafree{
        margin-top: 20px;
    }
    .foot2021{
        margin-bottom: 50px;
        font-size: 20px;
        padding: 10px 0px;
    }
    .class{
        font-size: 18px;
    }

    .fbicon{
        width: 20px;
        height: 20px;
        padding: 8px;
       
    }
    .foot2021{
        font-size: 20px;
    }
    .flexbox{
        font-size: 15px;
        padding: 4px 0px;
        margin: 0 5px;
    }
     .menufy{
         font-size: 25px;
     }
    .top{
        margin-top: 25px;
    }
    .buttongroup{
        margin-right: 15px;
    }
  .fontSiz{
      font-size: 20px;
      margin-bottom: 25px;
  }
    .box{
       width: 80%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
  
    }


    .imgblog{
    
       height: 250px;
    }
    .buttongroup{
        margin-top: 10px;
        margin-left: 40px;
    }
    .sign{
        color: whitesmoke;
        font-weight: bold;
        padding: 15px;
        margin: 10px;
        border-radius: 30px;
        background-color:darkcyan;
        border: none;
    }

  .abouttext {
        font-size: 25px;
    }
    .linecontainer{
        margin-right: 10px;
    }
    .menufy{
        margin-left: 20px;
    }
    .bigbotton{
        width: 160px;
        font-size: 15px;
        font-weight: bold;
        background-color: dodgerblue;
        margin-top: 15px;
        padding: 15px;
        border-radius: 10px;
    }
    .buttonget{
        margin-left: 35px;
        width: 160px;
        background-color:#1F1F1F ;
        font-size: 15px;
        font-weight: bold;
        margin-top: 25px;
        padding: 15px;
        color: white;
        border-radius: 10px;
    }
    .buttonit , .learn{
        width: 140px;
        padding: 9px;
        font-size: 10px;
    }

    .your , .textmenu , .textre  {
        font-size: 20px;
    }
   .orderweb {
        font-size: 25px;
    }
     .textpaid{
        font-size: 25px;
    }
    .fontlarge ,  .onlinetext , .fontlarge {
        font-size: 40px;
    }
    .paidimg{
        width: 200px;
        height: 150px;
        margin-bottom: 8px;
    }
    .laptop{
        width: 300px;
        height:250px;
    }
    .textfon{
     
        width: 70%;
       font-size: 35px;
       margin: 20px  auto;
       color: #f4f4f4;
    }

    .serving{
        color: #f4f4f4;
        width: 70%;
        margin: 0 auto;
        font-size: 25px;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 50px;
    }
    .buttongroup{
        display: flex;
        flex-wrap: nowrap;
        margin-top: -30px;
    }
    .image{
        width: 100%;
        height: 400px;
    }
    .imagetest{
        max-width: 100%;
        margin: 0 auto;
    }
    .textexit{
        display: flex;
    }
    .textmnu{
        margin-right: 6px;
    }
    .underline{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .learn{
        margin-bottom: 0px;
    }
    .handphoto{
        width: 80%;  
        margin: 0 auto;
 
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .buttontoast{
        margin-right: 70px;
        margin-top: 15px;
    }
   .textpaid{
       width: 100%;
        display: flex;
        justify-content: center;
       margin-top: 10px;
   }

.callphoto{
    margin-left: 30px;
}
.foot2021{
    text-align: center;
    margin-bottom: 50px;
}
.footercontainer{
    height: 600px;
}
.smallmenu{
    font-size: 30px;
   }
}
